<h1 ><%= 'My watch list' %></h1>
<%# need image %>

<ul>
  <% @lists.each do |list| %>
  <li>
    <%= link_to list.name, list_path(list)  %>
  </li>
  <% end %>
</ul>

<%# style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path "nwxlkay9klpm80dy3ito", height: 300, crop: :fill %>
