<h1>Add new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: "Romantic" %>
  <%= f.button :submit, class: "btn btn-outline-dark" %>
<% end %>

<%= link_to "Back to my lists", lists_path %>
